<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">		
		<title>TP3_1</title>
		<link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	<body>
	<main class="cuerpo">
		<header id="titulos">
			<h1>Programacion visual</h1>
		</header>
		<nav class="navegacion">
			<ul class="contenidos">
				<li><a class="enlaces" href="form-cliente.html">2da Pagina</a></li>
				<li><a class="enlaces" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=1#tabs-tree-start">Primera semana de Prog. Visual</a></li>
				<li><a class="enlaces" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=2#tabs-tree-start">Segunda semana de Prog. Visual</a></li>
				<li><a class="enlaces" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=3#tabs-tree-start">Tercera semana de Prog. Visual</a></li>
			</ul>
		</nav>
		
			<section class="secciones"> <br>
                <h2 class="titulospequeños">Semana 1</h2>
                <h3 class="titulospequeños">En esta seccion se describira un poco de lo que se vio en la primera semana de programacion visual</h3>
                <p>Algunos de los conceptos que se vieron fueron:</p>
                <ul class="contenidos">
                    <li>Introducion a java</li>
                    <li>Programacion en java</li>
                    <li>Instalar el Spring tool suit</li>
                </ul>
                <table class="contenidos">
                    <tr>
                        <td>La plataforma java</td>

                        <td>El lenguaje de programacion de java</td>

                        <td>Caracterisiticas de java</td>
                    </tr>
                </table>
            </section>
			
			<section class="secciones">
				<h2 class="titulospequeños">Semana 2</h2>
				<h3 class="titulospequeños">En esta seccion se describira un poco de lo que se vio en la segunda semana</h3>
				<p class="contenidos">Algunos de los conceptos que se vieron fueron:</p>
				<ul class="contenidos">
					<li>Sobrecarga - Excepciones</li>
					<li>Conversión de tipos de datos</li>
					<li>Fechas en Java</li>
				</ul>
				<table class="contenidos">
					<tr>
						<th>Sobrecarga - Excepciones</th>
						<th>Conversion de tipos de datos</th>
						<th>Fechas en Java</th>
					</tr>
					<tr>
						<td>Tratar errores</td>

						<td>Tipos de datos</td>

						<td>Fechas en java</td>
					</tr>
					
					<tr>
						<td>Excepciones</td>
						<td>Wrapper</td>
						<td>Calendar</td>
					</tr>
				</table>
			</section>
			<section class="secciones">
				<h2 class="titulospequeños">Semana 3</h2>
				<h3 class="titulospequeños">En esta seccion se describira un poco de lo que se vio en la segunda semana</h3>
				<p class="contenidos">Algunos de los temas fueron: </p>
				<ul class="contenidos">
					<li>Matrices</li>
					<li>Interfaces</li>
					<li>Arraylist</li>					
				</ul>
				<table class="contenidos">
					<tr>
						<th>Matrices</th>
						<th>Interfaces</th>
						<th>Arraylist</th>
					</tr>
					
					<tr>
						<td>Agrupar datos</td>
						
						<td>Abstraccion</td>
						
						<td>Dinamicidad</td>
					</tr>
				</table>
			</section>
		
		
		<aside class="adicionalaside">
			<a class="contenidoadicional" href="https://virtual.unju.edu.ar/course/view.php?id=2540&section=4#tabs-tree-start">Pagina unju virtual Aula de Programacion Visual</a>
			<br>
			<img class="contenidoadicional" src="https://img.europapress.es/fotoweb/fotonoticia_20211124180450_1200.jpg" height="500px">
		</aside>
		</main>
		</body>
		<footer id="idfooter">
			<a class="afooter" href="http://www.unju.edu.ar/">Pagina de Internet</a>
			<a class="afooter" href="https://www.instagram.com/unjuvirtual/">Instagram</a>
		</footer>
		
	
</html>